h1 CONTACTO

p [MAPA]
p.about El telefono de esta patria es (57 1) 218 0927, la direccion es calle 54 # 4a-54, estamos en varias redes sociales: 
  a(href="http://twitter.com", target="_blank") twitter
  | , 
  a(href="http://facebook.com", target="_blank") facebook 
  | e 
  a(href="http://twitter.com", target="_blank") instagram
  | . Si quiere escribirle a Alejo, el chef, y hablar de la comida: 
  a(href="mailto:alejo@salvopatria.com") alejo@salvopatria.com
  | . Si quiere escribirle a Margie, la administradora, y sugerirle algo: 
  a(href="mailto:margie@salvopatria.com") margie@salvopatria.com
  | . Si quiere escribirle a Juan, el barista y gerente, 
  a(href="mailto:juan@salvopatria.com") juan@salvopatria.com
  | . Si le parecio que el diseño esta decente 
  a(href="mailto:info@elmonocromo.com") info@elmonocromo.com

div#su_patria
  h3 ESTA ES su PATRIA
  div.reservas
    span reservas
    p (57 1) 218 0927
      | <br />calle 54 # 4a-54
      | <br />bogota, colombia

p.redes [REDES]