h1 EL DÍA
nav#filters 
  ol
    li
      a Los Menús
    li
      a Eventos
    li
      a El Orígen
    li
      a Lo Que Nos Gusta
    li
      a Salvopatria
    li
      a Facebook

div#articles

  article.imagen
    span.date 09 / 09 / 13
    a(href="#")
      img(src="http://placehold.it/300x300")

  article.receta
    span.date 09 / 09 / 13
    h2 Título
    p Like you, I used to think the world was this great place where everybody lived

  article.articulo
    h2 Título
    span.date 09 / 09 / 13
    p Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order
    a.read-more(href="#") LEER MÁS

  article.instagram
    span.date 09 / 09 / 13
    div.image-container
      a(href="#")
        span.overlay Ver en Instagram
        img(src="http://placehold.it/300x300")

  article.video
    span.date 09 / 09 / 13
    a(href="#")
      img(src="http://placehold.it/300x160")

  article.flyer(style="background-image:url('http://placehold.it/300x300')")
    span.date 09 / 09 / 13
    h2 Título
    p Like you, I used to think the world was this great place where everybody lived
    span.promo Noviembre <br />6 <sup>de</sup> 2013 / 8:00 <sup>PM</sup>
  a.load-more Más noticias de la patria