!!!
html.no-js(lang="es")
  head
    link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="/js/modernizr.js")
        
  body
    != yield
    
    script(src="/bower_components/jquery/jquery.min.js")

// hmm mm mm