nav#main_nav(role="navigation")
  ul#menu
    li
      a(href="#el_dia") El Día
    li
      a(href="#la_carta") La Carta
    li
      a(href="#el_cafe") El Café
    li
      a(href="#contacto") Contacto
  ul#redes
    li
      a(href="#", target="_blank") Facebook
    li
      a(href="#", target="_blank") Instagram
    li
      a(href="#", target="_blank") Twitter